<html>
  <div class='row'></div>
  <h1 class='five columns'>Christopher</h1>
  <h1 class='three columns'>Huyett</h1>

  <div class='row'></div>
  <ul class= 'sixteen columns'>
    <li class= 'one columns'>Coding</li>
    <li class= 'two columns'>Video games</li>


  </ul>

  <a href='/contact'><img src="https://lh3.googleusercontent.com/-pSB0-RHNbLM/AAAAAAAAAAI/AAAAAAAAAAA/mpZdlRQgTe4/photo.jpg"></a>



</html>